<div class="container">
  <div class="contact-container">
    <div class="header"><h2>Contact me from below mediums</h2></div>

    <div class="social-container">
      <a href="https://www.linkedin.com/in/tirth-trivedi/" target="_blank">
        <img src="/assets/LKIN.png" alt="linkedIn" />
      </a>
      <a href="https://github.com/Tirthdt" target="_blank">
        <img src="/assets/GIT-96.png" alt="github" />
      </a>
      <a href="https://www.facebook.com/tirth.trivedi.58/" target="_blank">
        <img src="/assets/FB.png" alt="linkedIn" />
      </a>
      <a href="https://www.instagram.com/tirth_tdt/" target="_blank">
        <img src="/assets/IG.png" alt="linkedIn" />
      </a>
    </div>
  </div>
</div>
