<div class="container">
  <div class="about-container">
    <header class="heading">
      <h1>About Me</h1>
    </header>
    <p>
      I am a software engineer currently employed in TCS and working on Siebel
      CRM.
      <br />
      I am also a self taught web developer and also have experience in working
      with frameworks such as Angular, Ionic, Django.
      <br />
      Apart from this, I love to explore Python language as and when needed.
    </p>
    <header class="expertise-heading"><h1>My expertise</h1></header>
    <div class="expertise-container">
      <div class="expertise">
        <img src="/assets/HTML.svg" alt="HTML" />
        <p>HTML</p>
      </div>
      <div class="expertise">
        <img src="/assets/CSS.svg" alt="CSS" />
        <p>CSS</p>
      </div>
      <div class="expertise">
        <img src="/assets/JS.svg" alt="JS" />
        <p>JavaScript</p>
      </div>
      <div class="expertise">
        <img src="/assets/NG.svg" alt="Angular" />
        <p>Angular</p>
      </div>
      <div class="expertise">
        <img src="/assets/Ionic.svg" alt="Ionic" />
        <p>Ionic</p>
      </div>
      <div class="expertise">
        <img src="/assets/PY.svg" alt="Python" />
        <p>Python</p>
      </div>
    </div>
  </div>
</div>
