<nav class="navbar">
  <div class="logo">Tirth Trivedi</div>
  <div class="navbar-items">
    <ul class="list">
      <li class="list-items" routerLink="home" routerLinkActive="isActive">
        Home
      </li>
      <li class="list-items" routerLink="about" routerLinkActive="isActive">
        About
      </li>
      <li class="list-items" routerLink="projects" routerLinkActive="isActive">
        Projects
      </li>
      <li class="list-items" routerLink="contact" routerLinkActive="isActive">
        Contact
      </li>
    </ul>
  </div>
</nav>
