<div class="container">
  <div class="home-container">
    <div class="image-showcase">
      <img src="/assets/profile.jpg" alt="profileImage" />
    </div>
    <div class="writing">
      <h1 class="line-1 anim-typewriter">Hello, My Name is Tirth.</h1>
      <p>
        I am a software developer😎.
        <br />
        Having interest in Web Development and a python enthusiast❤.
      </p>
      <p class="about-info">
        Want to know more about me?
        <a routerLink="/about" routerLinkActive="isActive">Yes Sure 🚀</a>
      </p>
    </div>
  </div>
</div>
