<div class="container">
  <div class="projects-container">
    <header class="projects-header">Here are some of my projects.</header>

    <div class="project-list">
      <div class="project">
        <div class="project-header">The Shubham Marketing</div>
        <div class="project-decription">
          A webapp and app made for a local business group which serves as a
          medium to connect buyes and manufacturers. (Made with Ionic)
        </div>
        Available for:
        <div class="project-availability">
          <img src="/assets/WEB.png" alt="web" />
          <img src="/assets/Android.png" alt="android" />
          <img src="/assets/IOS.png" alt="ios" />
        </div>
      </div>
      <div class="project">
        <div class="project-header">Grocery List App</div>
        <div class="project-decription">
          A simple JS app which will come in handy to list down all the grocery
          list items while shopping.
        </div>
        Available for:
        <div class="project-availability">
          <img src="/assets/WEB.png" alt="web" />
          <img src="/assets/GIT.png" alt="github" />
        </div>
      </div>
      <div class="project">
        <div class="project-header">Story Books App</div>
        <div class="project-decription">
          A story Books app made with Ionic which helps users to post their
          short stories and read stories of others.
        </div>
        Available for:
        <div class="project-availability">
          <img src="/assets/WEB.png" alt="web" />
          <img src="/assets/Android.png" alt="android" />
          <img src="/assets/IOS.png" alt="ios" />
          <img src="/assets/GIT.png" alt="github" />
        </div>
      </div>
      <div class="project">
        <div class="project-header">Calculator App</div>
        <div class="project-decription">
          A calculator app made with JS for simple calculations.
        </div>
        Available for:
        <div class="project-availability">
          <img src="/assets/WEB.png" alt="web" />

          <img src="/assets/GIT.png" alt="github" />
        </div>
      </div>
      <div class="project">
        <div class="project-header">Rock Paper Scissors game</div>
        <div class="project-decription">
          Feeling Bored? Try this simple game made with JS.
        </div>
        Available for:
        <div class="project-availability">
          <img src="/assets/WEB.png" alt="web" />

          <img src="/assets/GIT.png" alt="github" />
        </div>
      </div>
      <div class="project">
        <div class="project-header">URL Shortner</div>
        <div class="project-decription">
          A URL shortner system made with Python and Django
        </div>
        Available for:
        <div class="project-availability">
          <img src="/assets/GIT.png" alt="github" />
        </div>
      </div>
    </div>
  </div>
</div>
